@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


html{
    overflow-x: hidden;}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #fff;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #3468FC; 
    border-radius: 10px;
  } 

.solid-card button{
    border: none;
    border-radius: 15px;
    background-color: #DDE6FF;
    font-weight: 900;
    max-width: 200px;
    color: #373737;
}

#footer{
    margin-bottom: 20px !important;
}

#solid-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 30px !important;
    margin-top: 30px !important;
}

.label1{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    margin: 2px !important;
    padding: 5px;
}

.label1 h5{
    color: #3468FC;
    text-align: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    margin: 0;  
    flex: 2;
}

.label2{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-self: center;
    margin: 2px !important;
    padding: 5px;
}

.label2 h5{
    text-align: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    margin: 0;
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 48px;
    font-weight:900;
    text-align: center;
    color: #373737;

}

h2{

    font-size: 28px;
    font-weight:900;
    text-align: center;
    color: #373737;

}

h3{

    font-size: 20px;
    font-weight:900;
    text-align: center;
    padding-top: 8px;
    color: #373737;

}

h4{

    font-size: 14px;
    font-weight:900;
    text-align: center;

}

h5{
    font-size: 12px;
    font-weight:900;
    text-align: center;
    color: #373737;

}

.blue{
    color: #3468FC;
}

#content .row{
    padding: 0;
    margin: 0;
}

#content .col{
    padding: 0;
    margin: 0;
}

#content .col-7{
    padding: 0;
    margin: 0;
}

#content .col-5{
    padding: 0;
    margin: 0;
}

#menu .row {
    margin: 0;
}

.solid-card #bar-1{
    background-color: #3468FC;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 5;
    height: 60%;
}

.solid-card #bar-2{
    background-color: #678EFD;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;

}

#line-1{
    margin: 10px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#line-1 h5{
    padding: 0 !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

#line-2{
    display: flex;
    width: 100%;
    align-items: center;
}

#bar-1 h2{
    margin: 0;
    color: #fff;
}

#bar-2 h2{
    margin: 0;
    color: #fff;
}


.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 8vh;
    text-align: center;
}

.menu-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center ;
}

#menu {
    position: fixed; 
    top: 0; 
    width: 100%;
}

.content {
    background-color: #DDE6FF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 89vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.solid-card {
    background-color: #fff;
    margin: 5px !important;  
    border-radius: 10px;
    display: flex;
    justify-content: left;     
    flex-direction: row;
}

#graph{
    margin-left: 5px !important;
}

#graph-delta{
    margin-right: 5px !important;
}


.timeline-solid-card-1 {
    background-color: #fff; 
    border-radius: 10px;
    display: flex; 
    flex-direction: row;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: 100%;
    justify-content: center;
    margin: 5px !important;
}

.timeline-solid-card-2 {
    background-color: #fff; 
    border-radius: 10px;
    display: flex; 
    flex-direction: row;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: 100%;
    justify-content: space-around;
    margin: 5px !important;
    padding: 5px !important;
}

.timeline-solid-card-2 h3{
    display: flex;
    align-items: center;
}

#empty-card-1{
    background-color: transparent;
    border: 3px solid #fff;
    margin: 5px !important;    
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 608px;
}

.label-roll-1{
    overflow-x: auto;
    margin: 10px !important;
}

.timeline-card h4{
    color: yellow;
}

#empty-card-2{
    background-color: transparent;
    border: 3px solid #fff;
    margin: 5px !important;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

#timeline-card-title h3{
    margin: 0 auto;
}

#timeline-roll{
    display: flex;
    flex: row;
    align-content: space-around;
    overflow-x: scroll;
    padding: 0 !important;
}

#content {
    position: fixed; 
    margin: 0;
    bottom: 0;
    height: 92vh;
    background-color: #DDE6FF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: #DDE6FF 12px solid;
}

#empty-title{
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: -1px !important;
}

#empty-title-1{
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    margin-top: -1px !important;
    position: static;
}

.kpi-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.kpi-col{
    display: flex;
    flex-direction: column;
}


#timeline-circle-1 span{
    display: flex;
    background-color: #3468FC;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#timeline-circle-1{
    display: flex;
    align-items: center;
}

#timeline-circle-2{
    display: flex;
    align-items: center;
}

#timeline-circle-2 span{
    display: flex;
    background-color: #678EFD;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
#date{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#date h3{
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#date h2{
    margin: 0;
    border: 0;
    padding: 0;
}

.timeline-solid-card h3{
    margin: 0;
    border: 0;
    padding: 0;
    display: flex;
    align-self: center;
    flex: 2;
    width: 100%;
}

#timeline-circle-1 span h3{
    color: #fff;
}

#timeline-circle-2 span h3{
    color: #fff;
}

#timeline-circle-3 span h1{
    color: #fff;
}

#timeline-circle-3 span{
    display: flex;
    background-color: #3468FC;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 50px !important;
}

#timeline-circle-1 h5{
    padding: 0;
    margin: 0;
}

#row-content{
    padding: 30px 10px 30px 10px !important;
}

.header button {
    background-color: transparent;
    border: none;
}

#logout i:hover {
    color: #678EFD;
}

#filter i:hover {
    color: #678EFD;
}
.small-line{
    display: flex;
    background-image: url("../assets/line.svg");
    border-radius: 15px;
    width: 8px;
    height: 90%;
    padding: 0;
    margin-left: 10px;
    align-self: center;
}

.horizontal-line{
    background-image: url("../assets/line.svg");
    border-radius: 15px;
    height: 15px;
    width: 200%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 28px !important;
    margin-bottom: 36px  !important;

}


#logout span {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-left: 5px;
    font-weight:900;
}

#filter {
    display: flex;
    justify-content: center;
}

#logout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
}

#logout i {
    display: flex;
    justify-content: center;
    justify-items: center;
}

i {
    font-size: 30px;
    color: #3468FC;
}

#logo img {
    width: 130px;
}

.comparativoRentabilidade{
    display: flex;
    align-items: center;
    padding: 2px;
    
    width:fit-content;
}


.deltaContainer{
    width: fit-content;
    margin: 15px;
}

.hotelCard{
    margin: 0px!important;
    width: max-content!important;
    padding: 20px!important;
}

#filterPopup{
    display: none;
    position: absolute;
    margin-top: -12px;
    margin-left: 82%;
    background-color: #fff;
    padding: 20px;
    border-bottom-left-radius: 10px;

}



.state-unselected{
    display: flex;
    justify-content: center;
    margin: 5px;
    background-color: #DDE6FF;
    width: 40%;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;

}


.state-selected{
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 5px;
    background-color: #3468FC;
    width: 40%;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.city-unselected{
    display: flex;
    justify-content: center;
    margin: 5px;
    background-color: #DDE6FF;
    width: 70%;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;

}


.city-selected{
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 5px;
    background-color: #3468FC;
    width: 70%;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.partner-unselected{
    display: flex;
    justify-content: center;
    margin: 5px;
    background-color: #DDE6FF;
    width: 70%;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}


.partner-selected{
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 5px;
    background-color: #3468FC;
    width: 70%;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.period-unselected{
    display: flex;
    justify-content: center;
    margin: 5px;
    background-color: #DDE6FF;
    width: 40%;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}


.period-selected{
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 5px;
    background-color: #3468FC;
    width: 40%;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.type-unselected{
    display: flex;
    justify-content: center;
    margin: 5px;
    background-color: #DDE6FF;
    width: 40%;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}


.type-selected{
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 5px;
    background-color: #3468FC;
    width: 40%;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

#state-options{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#city-options{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#partner-options{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#period-options{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#type-options{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.filter{
    background-color: #DDE6FF;
    border-radius: 8px;
    font-size: 16px;
    font-weight:900;
    text-align: center;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: #373737;
    margin: 5px;
    cursor: pointer;
}

#quitPopup{
    width: 30%;
    text-align: center;
    flex-direction: column;
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    margin: 15%;
    margin-left: 34%;
}

#quitoptions{
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quitoptions{
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: 30px;
    padding: 10px !important;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #DDE6FF;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight:900;
    text-align: center;
    padding-top: 8px;
    color: #373737;
}



.quitoptions:hover{
    background-color: #3468FC;
    color: #fff;
}

#shadow{
    display: none;
    background-color: #DDE6FF;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    
}
