@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  margin: 0px;
  font-weight: 500;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
body {
  height: 100vh;
  background-color: rgb(52, 104, 252, 0.95);
  overflow: hidden;
}

/* HEADER */

#header {
  position: relative;
}

#logo {
  width: 40px;
  margin: 5px 10px 0px 22px;
}

#menu {
  height: 35px;
  position: absolute;
  right: 30px;
  top: 55%;
  transform: translateY(-50%);
}

.title {
left: 120px;
top: 150px;
  margin-left: 10px;
  font-size: 24px;
  color: #000000;
  font-weight: bold;
}

.containerhotel{
    position:static;
    bottom: 270px;
    left: 120px;
}
/* MAIN */

#main-body {

  background-color: #dde6ff;
  box-shadow: rgb(81, 75, 75) 0 0 8px;
  border-radius: 30px 30px 0px 0px;
  padding: 30px 0px 200px 0px;
  margin-top: 8px;
}

#child-body {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px 70px 0px;
  border-radius: 20px 15px 20px 15px;
  height: 70vh;
  padding-bottom: 30px;
  align-items: flex-start;
}

.smallcontainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
}

#inputnumber{
    width: 70px;

}

.containerinfo{
    margin-top: 22px;
}


.coluninfo{
    position:static;
    display: flex;
    flex-direction: column;
    margin-right: 70px;
    margin-left: 22px;
    margin-top: 15px;
    
}

.dados_bancarios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 35px;
    text-align: center;
    flex-wrap: wrap;
}


b {
  color: #3468fc;
  font-weight: bolder;
}


input{
 background-color: #dde6ff ;
border-radius: 10px;
border: none;
height: 30px;
caret-color: #3468fc;
padding-left: 4px;
}

input:focus{
    outline: none;
}


p{
    margin-bottom: 5px;
}


#ret{
    margin-left: 12px;
}

.buttondiv{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px ;
}


button{
    margin-top: 20px;
    background-color: #3468fc;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 7px 20px 7px 20px; 
    right: 20px;
}
button:hover{
  transform: scale(1.1);
  transition: all 0.5s;
}