@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  margin: 0px;
  font-weight: 500;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
body {
  height: 100vh;
  background-color: rgb(52, 104, 252, 0.95);
  overflow: hidden;
}

/* HEADER */

#header {
  position: relative;
}

#logo {
  width: 40px;
  margin: 5px 10px 0px 22px;
}

#menu {
  height: 35px;
  position: absolute;
  right: 30px;
  top: 55%;
  transform: translateY(-50%);
}

#title {
  position: absolute;
  left: 66px;
  top: 11px;
  margin-left: 10px;
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}

/* MAIN */

#main-body {
  background-color: #dde6ff;
  box-shadow: rgb(81, 75, 75) 0 0 8px;
  border-radius: 30px 30px 0px 0px;
  padding: 30px 0px 200px 0px;
  margin-top: 8px;
}

#whiteContainer {
  background-color: white;
  margin: 26px 70px;
  border-radius: 20px 15px 20px 15px;
  height: 77vh;
  padding-bottom: 30px;
}

#tiposAnt {
    margin: 30px;
}

.infoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 35px;
    text-align: center;
}

.infoBox h1 {
  font-size: 24px;
  font-weight: bold;
  color: #3468fc;
}

.infoBox p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #373737;
  padding: 20px;
  border-radius: 10px;
  border: 2px #3468fc solid;
}


b {
  color: #3468fc;
  font-weight: bolder;
}

.exemplo {
  display: flex;
  align-items: center;
}

#calendario {
  width: 200px;
  height: 140px;
  margin: 0px 70px 0px 80px !important;
}

span {
  color: #3468fc !important;
  font-weight: bold;
  align-items: flex-start;
}
